<!DOCTYPE html>
<html>
<body>
    <header>
        <h1>Fetid Dandilions</h1>
        <nav>
            <ul>
                {% for link in nav %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>